root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{package.json,*.yml,*.xml}]
indent_style = space

[{package.json,*.yml,*.xml,*.csproj,*.props}]
indent_size = 2

[{*.xml,*.csproj,*.props,*.json}]
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[*.cs]
# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
