@import "~optimizely-oui/dist/styles.css";

// OUI applies a box shadow to certain input elements instead of classes, so we need to remove it
input {
    box-shadow: none !important;
}

.root {
    padding: 24px;

    .inputs {
        display: flex;
        gap: 32px;
        margin: 16px 0;

        .search-box {
            width: 300px;
        }

        .items-count {
            width: 50px;
        }
    }
}
