<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0">

  <assemblies>
    <add assembly="EPiServer.Labs.BlockEnhancements" />
  </assemblies>

  <clientModule initializer="episerver-labs-block-enhancements.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="EPiServer.Labs.BlockEnhancements" />
    </requiredResources>
  </clientModule>

  <dojo>
    <paths>
      <add name="episerver-labs-block-enhancements" path="Scripts" />
    </paths>
 </dojo>
</module>