<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0">

  <assemblies>
    <add assembly="Episerver.Telemetry.UI" />
  </assemblies>

  <clientModule initializer="episerver-telemetry-ui.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="episerver-telemetry-ui" path="Scripts" />
    </paths>
 </dojo>
</module>
