<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0"
        type="EPiServer.Labs.BlockEnhancements.BlockEnhancementsModule, EPiServer.Labs.BlockEnhancements">

  <assemblies>
    <add assembly="EPiServer.Labs.BlockEnhancements" />
  </assemblies>

  <clientResources>
    <add name="epi-cms.widgets.base" path="Scripts/inline-editing/SharedBlocks.initializer.js" resourceType="Script" sortIndex="5000"/>
  </clientResources>

  <clientModule initializer="episerver-labs-block-enhancements.initializer">
    <moduleDependencies>
      <add dependency="episerver-telemetry-ui" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="EPiServer.Labs.BlockEnhancements" />
    </requiredResources>
  </clientModule>

  <dojo>
    <paths>
      <add name="episerver-labs-block-enhancements" path="Scripts" />
    </paths>
 </dojo>
</module>
