<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;AttachDbFileName=|DataDirectory|Alloy.mdf;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EPiServerDB_sql_test" connectionString="Data Source=.\SQLEXPRESS;Database=EPiServerLocalHeadTest;User Id=episerverlocalHeadtest;Password=epi#Server7LocalTest;Network Library=DBMSSOCN;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>