# This is the access control configuration file for the ELMAH error log web.
# Each line of the file represents an access grant or denial.
# To allow users access, simply list their accounts on separate lines.
# An asterisk (*) represents all authenticated users.
# A question mark (?) represents all anonymous users.
# Roles are identified with a caret prefix (^), like this: ^admins
# A line starting with an exclamation (!) is a denial; otherwise a grant.
# Denials take precedence over grants.
# A hash or pound (#) delimits a single-line comment like this one.
# @local is special and represents a local request
# For more, see: https://github.com/elmah/Bootstrapper

@local
