<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <applicationSettings httpCacheability="Public" pageValidateTemplate="false" uiShowGlobalizationUserInterface="true" uiUrl="~/EPiServer/CMS/" urlRebaseKind="ToRootRelative" uiEditorCssPaths="~/Static/css/Editor.css" uiSafeHtmlTags="b,i,u,br,em,strong,p,a,img,ol,ul,li" />
  <imageEditor windowWidth="900" windowHeight="600" enabled="true">
    <sizePresets>
      <preset name="320*240" width="320" height="240" />
      <preset name="640*480" width="640" height="480" />
    </sizePresets>
  </imageEditor>
</episerver>