<episerver.framework updateDatabaseSchema="true">
  <scanAssembly forceBinFolderScan="true" />
  <virtualRoles replacePrincipal="true">
    <providers>
      <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
      <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
      <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
      <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
      <add name="CmsAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
      <add name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebEditors" mode="Any" />
      <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
      <add name="PackagingAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
      <add name="EPiBetaUsers" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
    </providers>
  </virtualRoles>
  <virtualPathProviders>
    <clear />
    <add name="EPiServerCMS" virtualPath="~/EPiServer/CMS" physicalPath="..\..\EPiServer.Cms.Shell.UI\UI" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework.AspNet" />
    <add name="App_Themes_Default" virtualPath="~/App_Themes/Default/" physicalPath="..\..\EPiServer.UI\App_Themes\Default" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework.AspNet" useRouting="true" />
    <add name="UtilFiles" virtualPath="~/Util/" physicalPath="..\..\EPiServer.UI\Util" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework.AspNet" />
    <add name="UI" virtualPath="~/EPiServer/CMS" physicalPath="..\..\EPiServer.UI\UI" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework.AspNet" />
    <add name="EPiServerShell" virtualPath="~/EPiServer/Shell" physicalPath="..\..\EPiServer.Shell.UI\UI" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework.AspNet" />
    <add name="EPiServerShellDtk" virtualPath="~/EPiServer/Shell/ClientResources" physicalPath="..\..\DtkBinaries\dojo-release-1.8.9-src\" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework.AspNet" />
    <!-- The ProtectedModules provider must be last (probed first) for the auto discovery of protected modules in ~/EPiServer to function properly -->
    <add name="ProtectedModules" virtualPath="~/EPiServer" physicalPath="modules/_protected" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework.AspNet" />
  </virtualPathProviders>
  <geolocation defaultProvider="maxmind">
    <providers>
      <add name="maxmind" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" databaseFileName="[appDataPath]\Geolocation\GeoLiteCity.dat" />
    </providers>
  </geolocation>
  <localization fallbackBehavior="MissingMessage, Echo" fallbackCulture="en">
    <providers>
      <add virtualPath="~/Resources/LanguageFiles" name="languageFiles" type="EPiServer.Framework.Localization.XmlResources.FileXmlLocalizationProvider, EPiServer.Framework.AspNet" />
    </providers>
  </localization>
  <appData basePath="%EPISERVERFILESDIR%\AlloyMvc" />
  <clientResources debug="true" />
</episerver.framework>